.bubble-sort .root {
	margin: 0 auto;
	padding: 24px;
}

.title {
	text-align: center;
	font-size: 24px;
	letter-spacing: 2.5;
	font-family: 'Courier New', Courier, monospace;
	margin: 16px;
}

.display {
	margin: 24px 16px;
	padding: 16px;
	display: flex;
	justify-content: center;
	transform: rotateX(180deg);
}

.bar {
	width: 4px;
	border-radius: 2px;
	background-color: slateblue;
	margin: 3px;
}

.a {
	background: rgb(241, 174, 5);
}

.b {
	background: rgb(231, 7, 82);
}

.controls {
	display: flex;
	justify-content: center;
	align-items: center;
}

.controls .btn {
	padding: 12px 32px;
	outline: none;
	border-radius: 28px;

	background: white;
	font-family: monospace;
	letter-spacing: 1.5;
	cursor: pointer;
	font-size: 16.5px;
	font-weight: 600;
	margin: 0 8px;
}

.controls .sort {
	border: orange 1px solid;
	color: orange;
}

.controls .shuffle {
	border: rgb(49, 175, 49) 1px solid;
	color: rgb(49, 175, 49);
}
.controls .timer {
	border: yellow;
	color: rgb(180, 180, 10);
	letter-spacing: 3px;
}
